{% extends "base.html" %}

{% block content %}

  {% set content = page.content %}

  {% if page.meta and page.meta.git_revision_date_localized %}
    {% set revision %}
      <div class="page-revision-date">
        {{ page.meta.git_revision_date_localized }}
      </div>
    {% endset %}

    {% if "</h1>" in content %}
      {{ content.replace("</h1>", "</h1>" ~ revision, 1) | safe }}
    {% else %}
      <h1>{{ page.title | d(config.site_name, true) }}</h1>
      {{ revision }}
      {{ content }}
    {% endif %}
  {% else %}
    {{ content }}
  {% endif %}

{% endblock %}
